@model IEnumerable<Kurs>

<h2>Kurs Listesi</h2>
<a asp-controller="Kurs" asp-action="Create" class="btn btn-primary">Kurs Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(k => k.KursId)</th>
            <th>@Html.DisplayNameFor(k => k.Baslik)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.KursId)</td>
                <td>@Html.DisplayFor(modelItem => item.Baslik)</td>
                <td>
                   <a asp-controller="Kurs" asp-action="Edit" asp-route-id="@item.KursId" class="btn btn-primary btn-sm">Details</a>
                   <a asp-controller="Kurs" asp-action="Delete" asp-route-id="@item.KursId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>