@model IEnumerable<Ogrenci>

    <h2>Öğrenci Listesi</h2>
    <a asp-controller="Ogrenci" asp-action="Create" class="btn btn-primary">Öğrenci Ekle</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 150px;">@Html.DisplayNameFor(m=>m.OgrenciKimlik)</th>
                <th>@Html.DisplayNameFor(m=>m.OgrenciAd)</th>
                <th>@Html.DisplayNameFor(m=>m.OgrenciSoyad)</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.OgrenciKimlik)</td>
                <td>@Html.DisplayFor(modelItem=>item.OgrenciAd)</td>
                <td>@Html.DisplayFor(modelItem=>item.OgrenciSoyad)</td>
                <td>
                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@item.OgrenciKimlik" class="btn btn-primary btn-sm">Details</a>
                    <a asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@item.OgrenciKimlik" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>